#div1{
    background-color: rgb(141, 158, 63);
    height: 150px;
    width: 150px;
}

#div2{
    background-color: rgb(160, 135, 250) ;
    height: 150px;
    width: 150px;
}

#div3{
    background-color: rgb(226, 224, 255);
    height: 150px;
    width: 150px;
}

#div4{
    background-color: lightcoral;
    height: 150px;
    width: 150px;
}